body{
    font-family: 'Roboto', serif;
    font-size: 1em;
    font-weight: 300;
    color: #FFF;
    background-color: #000;
}

.effect_opacity{
    transition-duration: 1.5s;
    transition-property: opacity;
}

.left_column{
    text-align: left;
}
.right_column{
    text-align: right;
}

/* Widget */
.widgets_container{

}
.widgets_container .widget_container:first-child{
    margin-top: 20px;
}
.widgets_container .widget_container{
    margin-top: 140px;
}
.widgets_container.left_column .widget{
    margin-left: 20px;
}
.widgets_container.right_column .widget{
    margin-right: 20px;
}
/* - Weather widget */
#weather_temp{
    font-size: 72px;
}
#weather_icon{
    height: 80px;
    margin: 10px -10px 0px 15px;
}
#weather_desc{
    margin-top: -10px;
    font-size: 18px;
}
/* - Clock widget */
#clock_time{
    font-size: 72px;
}
#clock_date{
    margin-top: -10px;
    margin-left: 4px;
    font-size: 18px;
}
/* - Transport widget */
.tsp_line .tsp_line_header{
    position: relative;
    margin-bottom: 8px;
}
.tsp_line .tsp_line_logo{
    position: absolute;
    top: 7px;
    right: 140px;
    width: 25px;
    height: 25px;
    line-height: 26px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    /*border-radius: 25px;*/
    border-radius: 2px;
}
.tsp_line .tsp_line_header .tsp_line_title{
    font-size: 17px;
    font-weight: 400;
}
.tsp_line .tsp_line_header .tsp_line_direction{
    font-size: 12px;
    font-style: italic;
}
.tsp_line .tsp_line_content .tsp_line_time{
    font-size: 12px;
    color: #999;
}
.tsp_line .tsp_line_content .tsp_line_time:nth-child(3){
    color: #CCC;
}
.tsp_line .tsp_line_content .tsp_line_time:nth-child(2){
    color: #EEE;
}
.tsp_line .tsp_line_content .tsp_line_time:nth-child(1){
    color: #FFF;
}
.tsp_line .tsp_line_content .tsp_line_time > span{
    width: 20px;
    font-size: 10px;
}
/*   - Compact lines */
.tsp_line.tsp_line_compact{
    margin-bottom: 20px;
}
.tsp_line.tsp_line_compact:last-child{
    margin-bottom: 0px;
}
.tsp_line.tsp_line_compact .tsp_line_header{
    margin-bottom: 0px;
}
.tsp_line.tsp_line_compact .tsp_line_logo{
    top: 2px;
    right: 125px;
    width: 20px;
    height: 20px;
    line-height: 22px;
    font-size: 12px;
}
.tsp_line.tsp_line_compact .tsp_line_content .tsp_line_stop{
    margin-bottom: 0px;
}
.tsp_line.tsp_line_compact .tsp_line_content .tsp_line_direction{
    margin-bottom: -2px;
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
}
.tsp_line.tsp_line_compact .tsp_line_content .tsp_line_time{
    position: relative;
    margin-right: 7px;
    padding-right: 7px;
    display: inline-block;
    font-size: 11px;
}
.tsp_line.tsp_line_compact .tsp_line_content .tsp_line_time:last-child{
    margin-right: 0px
}
.tsp_line.tsp_line_compact .tsp_line_content .tsp_line_time > span{
    position: absolute;
    top: 3px;
    right: 0px;
    width: initial;
    font-size: 7px;
}
/* Calendar widget */
.cal_period{
    margin-bottom: 15px;
    color: #DDD;
}
.cal_period:nth-child(2){
    color: #EEE;
}
.cal_period:nth-child(1){
    color: #FFF;
}
.cal_period:last-child{
    margin-bottom: 0px;
}
.cal_period .cal_period_title{
    font-size: 17px;
    font-weight: 400;
}
.cal_period .cal_period_event{
    margin-bottom: -2px;
    font-size: 11px;
}
.cal_period .cal_period_event:last-child {
    margin-bottom: 0px;
}
.cal_period .cal_period_event > span{
    display: inline-block;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cal_period .cal_event_period{
    margin-right: 2px;
    width: 28px;
}
.cal_period .cal_event_title{
    max-width: 170px;
}
.cal_period .cal_event_color{
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 2px;
    border-radius: 1px;
}